/* global styling */
.text-center {
    text-align: center;
}
.title {
    margin: 5% 0;
}
.container-fluid {
    
}
/* end global */

nav .nav-wrapper {
    background-color: rgb(90, 204, 194);
    padding-left: 1%;
    margin: 0;
}

nav .nav-wrapper a{
    color: rgb(41, 36, 36);
    font-weight: 400;
}

/* start header */
header {
    z-index: 2;
    position: relative;
    margin: 0;
    padding: 10% 0;
    height: 85vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
    background-image: url('../img/header.jpg');
    background-attachment: fixed;
    background-size: cover;
    width: 100vw !important;

}

header .text {
    color: aliceblue;
    margin-bottom: 5%
}

header .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: black;
    top:0;
    opacity: .6;
    z-index: -1;
}

/* promo */
.tours{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
}

.tours img {
    max-width: 100%;
    max-height: 300px;
    transition: transform .2s;
    border-radius: 5%;
}

.tours img:hover {
    transform: scale(1.03);
}

.tours p, small {
    margin: 0;
}