<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <link rel="stylesheet" href="css/main.css">
    <link rel="shortcut icon" type="image/png" href="img/favicon.png"/>

    <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div id="app">
        <!-- start nav bar -->
        <template>
            <v-toolbar dark color="#009CCE" flat>
              <v-toolbar-side-icon 
              @click="drawer=!drawer"
              class="hidden-md-and-up"></v-toolbar-side-icon>
              <v-toolbar-title data-app>IMT</v-toolbar-title>
              <v-spacer></v-spacer>
              <v-toolbar-items class="hidden-sm-and-down">
                <v-menu>
                    <v-btn slot="activator" dark icon>
                      <v-icon>language</v-icon>
                    </v-btn>
        
                    <v-list>
                      <v-list-tile v-for="(item, i) in languages" :key="i" >
                        <v-list-tile-title>
                            <a href="#" class="sub-menu-link">{{ item.title }}</a>
                        </v-list-tile-title>
                      </v-list-tile>
                    </v-list>
                </v-menu>
                <v-menu>
                    <v-btn slot="activator" dark icon>
                      <v-icon>attach_money</v-icon>
                    </v-btn>
        
                    <v-list>
                      <v-list-tile v-for="(item, i) in currencies" :key="i" >
                        <v-list-tile-title>
                            <a href="#" class="sub-menu-link">{{ item.title }}</a>
                        </v-list-tile-title>
                      </v-list-tile>
                    </v-list>
                </v-menu>
                <v-btn flat>
                    <a href="#" class="menu-link">Sign in</a>
                </v-btn>
                <v-btn flat>
                    <a href="#" class="menu-link">
                        <v-icon>help_outline</v-icon>
                    </a>
                </v-btn>
              </v-toolbar-items>
            </v-toolbar>
        </template>
        <!-- end navbar -->

        <!-- side nav -->
        <template>
            <v-layout wrap style="height: 100%;" @click="drawer=!drawer">
                <v-navigation-drawer v-model="drawer" absolute temporary >

                    <v-list class="pa-1">
                            <v-list-tile avatar>
                                <v-list-tile-avatar>
                                <img src="img/favicon.png">
                                </v-list-tile-avatar>
                    
                                <v-list-tile-content>
                                <v-list-tile-title>IMT</v-list-tile-title>
                                </v-list-tile-content>
                            </v-list-tile>
                            </v-list>
                            <v-list class="pt-0" dense>
                    <v-divider></v-divider>

                    <v-list class="pt-0" dense>
                        <v-divider></v-divider>
                
                        <v-list-tile
                        v-for="item in sideLinks" :key="item.title" @click="drawer=false" >
                        <v-list-tile-action>
                            <v-icon>{{ item.icon }}</v-icon>
                        </v-list-tile-action>

                        <v-list-tile-content>
                            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                        </v-list-tile-content>
                        </v-list-tile>
                    </v-list>
                </v-navigation-drawer>
            </v-layout>
        </template>
        <!-- end side nav -->

        <!-- start header -->
        <template>
            <header>
                    <div class="content">
                        <div>
                            <h1 class="display-3">InMyTours</h1>
                            <h4 class="display-1">Your way to discover a new world.</h4>
                        </div>
                    </div>
                    <div class="header-bottom">
                        <form action="" method="GET" class="row">

                            <v-layout row wrap >
                                <v-flex xs8 md8 class="text-md-right in-form">
                                    <span class="white--text hidden-sm-and-down ">Pick a: </span>
                                    <select name="country" class="my-2">
                                        <option value="0" disabled selected>
                                            Coyntry
                                        </option>
                                        <option value="1">Morocco</option>
                                        <option value="2">Spain</option>
                                    </select>

                                    <span class="white--text hidden-sm-and-down">Pick a: </span>
                                    <select name="city" class="my-2">
                                        <option value="0" disabled selected>City</option>
                                        <option value="1">Morocco</option>
                                        <option value="2">Spain</option>
                                    </select>
                                </v-flex>

                                <v-flex xs3 md4 class="text-xs-center text-md-left">
                                    <v-btn fab dark small 
                                    color="#009CCE" 
                                    type="submit"
                                    class="my-4">
                                        <v-icon dark>search</v-icon>
                                    </v-btn>
                                </v-flex>
                            </v-layout>

                        </form>
                    </div>
            </header>
        </template>
        <!-- end header -->

        <div class="container">

            <h2 class="text-xs-center mt-3 title">Popular destinations</h2>
            <!-- start main -->
            <section class="destinations mt-3">
                <article class="destination">
                    <img src="img/destinations/paris.jpg" alt="">
                    <div class="destination-title">
                        <span>Paris</span>
                    </div>
                </article>
                <article class="destination">
                     <img src="img/destinations/paris.jpg" alt="">
                     <div class="destination-title">
                        <span>Paris</span>
                    </div>
                </article>
                <article class="destination">
                    <img src="img/destinations/paris.jpg" alt="">
                    <div class="destination-title">
                        <span>Paris</span>
                    </div>
                </article>
                <article class="destination">
                    <img src="img/destinations/paris.jpg" alt="">
                    <div class="destination-title">
                        <span>Paris</span>
                    </div>
                </article>
            </section>
            <!-- end main -->

            <!-- start popular tours -->
            <h2 class="text-xs-center mt-3 title">Popular tours</h2>
            <section class="tours mt-3">
                <article class="tour">
                    <img src="img/tours/enjoy.jpg" alt="">
                    <v-layout row wrap class="pa-2">
                        <v-flex xs8 >
                            <span class="tour-title">
                                Barcelona city tour
                            </span>
                        </v-flex>
                        <v-flex xs4 class="text-xs-right mt-1">
                            <v-icon small>location_on</v-icon>
                            <small>Barcelona</small>
                        </v-flex>
                        <v-flex xs12 py-4>
                            <span class="text--lighten-4">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo similique non iste ad.
                            </span>
                        </v-flex>
                        <v-flex xs4 class="icons">
                            <v-icon small color='#F2C94C'>star_rate</v-icon>
                            <v-icon small color='#F2C94C'>star_rate</v-icon>
                            <v-icon small color='#F2C94C'>star_rate</v-icon>
                            <v-icon small color='#F2C94C'>star_rate</v-icon>
                            <v-icon small color='#F2C94C'>star_rate</v-icon>
                        </v-flex>
                        <v-flex xs4>
                            120 review(s)
                        </v-flex>
                        <v-flex xs4 class="text-xs-right">
                            <span class="price">35 $</span>
                        </v-flex>
                    </v-layout>
                </article>
            </section>
            
        </div> <!-- end container -->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>    
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <script src="js/main.js"></script>
</body>
</html>