header {
    background-image: url("../img/header.jpg"), linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5));
    background-blend-mode: overlay;
    background-size: cover;
    text-align: center;
    height: 65vh;
    position: relative;
}

header .content {
    height: 100%;
    display: grid;
    align-items: center;
    color: white;
    font-weight: bold !important;
}

header .header-bottom{
    background: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4));
    position: absolute;
    bottom: 0;
    padding-top: 2%;
    width: 100%;
}

header span {
    font-size: 24px;
}